:root {
  --dark: rgb(26, 29, 54);
  --orange: rgba(212, 109, 0, 1);
  --electric: rgba(91, 28, 237, 1);
}

* {
  font-family: sofia-pro, sans-serif;
  font-weight: 500;
  font-style: normal;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
